<div class="background-image-container">
  <div class="container">
    <div class="jumbotron jumbotron-fluid">
      <div class="d-flex flex-wrap">
        <div>
          <h1 class="display-3">Portal de Licitações do Exército Brasileiro</h1>
          <p class="lead">Consulta Pública ao Inteiro Teor dos Processos de Licitações e Contratos</p>
        </div>
      </div>

      <p style="max-width: 1200px">
        Em cumprimento à decisão exarada no item 1.6.2 do Acórdão 389/2020-TCU-Plenário (Relator Ministro Augusto Nardes), prolatado em 4 de março de 2020 nos autos do TC 016.757/2019-0, disponibiliza-se o acesso para consulta pública ao inteiro teor dos processos eletrônicos que documentam as compras e contratações, por licitações ou contratações diretas, e execuções dos contratos decorrentes, autuados pelas unidades vinculadas à cada Região Militar.
      </p>
      
      <p>
        As informações disponibilizadas para consulta nesse ambiente dizem respeito apenas aos processos administrativos iniciados a partir de 3 de janeiro de 2022.

      </p>

      <p>
        Os processos disponibilizados observam as regras de classificação da informação definidas na Lei nr 12.527,de 2011 (Lei de Acesso à informção - LAI), na Lei nr 13.709, de 2018, (Lei Geral de Proteção de Dados Pessoais - LGPD), e regulamentações correspondentes.
      </p>

      <p>
        Para realizar a pesquisa no portal, basta digitar o termo a ser pesquisado e clicar na lupa, ou clique em Unidades Gestoras e faça a busca dos processos por tipo de contratação.
      </p>

      <p>Para navegar no Portal de UG (Unidades Gestoras) de outras Regiões Militares, clique nos links abaixo:</p>

      <ul>
        <!-- <li> -->
          <a  href="http://licitacoeseb.1rm.eb.mil.br">1ª Região Militar </a>
          <a  href="http://licitacoeseb.2rm.eb.mil.br">2ª Região Militar </a>
          <a  href="http://licitacoeseb.3rm.eb.mil.br">3ª Região Militar </a>
          <a  href="http://licitacoeseb.4rm.eb.mil.br">4ª Região Militar </a>
          <a  href="http://licitacoeseb.5rm.eb.mil.br">5ª Região Militar </a>
          <a  href="http://licitacoeseb.6rm.eb.mil.br">6ª Região Militar </a>

          <br />

          <a  href="http://licitacoeseb.7rm.eb.mil.br">7ª Região Militar </a>
          <a  href="http://licitacoeseb.8rm.eb.mil.br">8ª Região Militar </a>
          <a  href="http://licitacoeseb.9rm.eb.mil.br">9ª Região Militar </a>
          <a  href="http://licitacoeseb.10rm.eb.mil.br">10ª Região Militar </a>
          <a  href="http://licitacoeseb.11rm.eb.mil.br">11ª Região Militar </a>
          <a  href="http://licitacoeseb.12rm.eb.mil.br">12ª Região Militar </a>
      <!-- </li> -->
      </ul>


    </div>
  </div>
  <picture class="background-image">
    <!-- <source type="image/webp" srcset="assets/dspace/images/banner.webp 2000w, assets/dspace/images/banner-half.webp 1200w, assets/dspace/images/banner-tall.webp 768w"> -->
    <!-- <source type="image/jpg" srcset="assets/dspace/images/banner.jpg 2000w, assets/dspace/images/banner-half.jpg 1200w, assets/dspace/images/banner-tall.jpg 768w"> -->
    <img alt="" [src]="'assets/dspace/images/banner.jpg'"/>
    <!-- without the []="''" Firefox downloads both the fallback and the resolved image -->
  </picture>
  <small class="credits">Photo by <a href="https://www.pexels.com/@inspiredimages">@inspiredimages</a></small>
</div>
